<!doctype html>
<html ng-app="CartApp">
    <head>
        <script src="script/angular.js"></script>
        <script src="script/cartcontroller.js"></script>
        <title>your Shopping Cart</title>
    </head>
    <body>
        <div ng-controller="CartController">
            <h1>购物车</h1>

            <table>
                <tr ng-repeat="item in items">
                    <td>{{ item.title }}</td>
                    <td>
                        <input ng-model="item.quantity" />
                    </td>
                    <td>{{ item.price | currency }}</td>
                    <td>{{ item.price * item.quantity | currency }}</td>
                    <td>
                        <button ng-click="remove(index)">删除</button>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ totalPirce() | currency }}</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </body>
</html>